body {
  background-color: #000;
  color: #03ff0f;
  font-family: "Courier New", monospace;
}

.container {
  margin-top: 1.25rem;
}

.form-control {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #fff;
}

.form-control::placeholder {
  color: #a3a3a3;
}

.form-control:focus {
  background-color: #000000;
  color: white;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

#stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.star {
  position: absolute;
  background-color: #dcfd8e;
  border-radius: 50%;
  animation: twinkle linear infinite;
}

@keyframes twinkle {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-100vh);
    animation-duration: 0.5s;
  }
}

.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  color: #fdfdfd;
}

text {
  color: #b9ddbb;
}

#logoutbutton {
  position: fixed;
  bottom: 2%;
  left: 2%;
  z-index: 9999;
}

.pasttransactions {
  overflow-y: scroll;
  height: 40vh;
}
