<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/admin_dashboard.css">
</head>
<body>
    <div id="stars"></div>
    <div class="container">
        <div class="separator">
            <h1>Admin Dashboard</h1>
            <form class="d-flex" role="search" id="searchbar">
                <div class="autocomplete" style="width:300px;">
                    <input id="myInput" type="text" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" autocomplete="off">
                </div>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Add New Book</h2>
                <form action="/admin/api/addbooks" method="post" id="addbooks">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter title" required>
                    </div>
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <input type="text" class="form-control" id="genre" placeholder="Enter genre" required>
                    </div>
                    <div class="form-group">
                        <label for="author">Author</label>
                        <input type="text" class="form-control" id="author" placeholder="Enter author" required>
                    </div>
                    <div class="form-group">
                        <label for="duetime">Due Time (Days)</label>
                        <input type="number" class="form-control" id="due-time" placeholder="Enter due time in days" required>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" class="form-control" id="quantity" placeholder="Enter quantity" required>
                    </div>
                    <br>
                    <div id="message" class="mt-3"></div>
                    <br>
                    <button type="submit" class="btn btn-primary">Add Book</button>
                </form>
            </div>
            <div class="col-md-6">
                <h2>Library Statistics</h2>
                <div class="chart">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
        <div class="approval-section">
            <div class="checkins">
            <h2>Check-in Approvals</h2>
            {{if .AdminData.CheckInApprovals}}
            {{range .AdminData.CheckInApprovals}}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{.UserName}}</h5>
                        <p class="card-text">Requesting check-in for {{.Title}}</p>
                        <button class="btn btn-primary" onclick="HandleCheckIn({{.T_Id}}, true)">Approve</button>
                        <button class="btn btn-danger" onclick="HandleCheckIn({{.T_Id}}, false)">Deny</button>
                    </div>
                </div>
            {{end}}
        {{else}}
            <p>No check-in requests</p>
        {{end}}
        </div>
        <div class="approval-section">
            <div class="checkins">
            <h2>Check-out Approvals</h2>
            {{if .AdminData.CheckOutApprovals}}
            {{range .AdminData.CheckOutApprovals}}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{.UserName}}</h5>
                        <p class="card-text">Requesting check-out for {{.Title}}</p>
                        <button class="btn btn-primary" onclick="HandleCheckOut({{.T_Id}}, true)">Approve</button>
                        <button class="btn btn-danger" onclick="HandleCheckOut({{.T_Id}}, false)">Deny</button>
                    </div>
                </div>
            {{end}}
        {{else}}
            <p>No check-out requests</p>
        {{end}}
        </div>
        <div class="approval-section">
            <h2>Admin Requests</h2>
                {{if .AdminData.ConvertRequestClients}}
                {{range .AdminData.ConvertRequestClients}}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Client: {{.}}</h5>
                            <p class="card-text">Requesting admin access</p>
                            <button class="btn btn-primary" onclick="ApproveAdmin('{{.}}', true)">Approve</button>
                            <button class="btn btn-danger" onclick="ApproveAdmin('{{.}}', false)">Deny</button>
                        </div>
                    </div>
                {{end}}
                {{else}}
                    <p>No admin requests</p>
                {{end}}
        </div>
    </div>
    </div>
    <a class="btn btn-primary logout-button" id="logoutbutton">Logout</a>
    <script>
        const ctx = document.getElementById('myChart');
        const data = {
        labels: [
            'Total Books',
            'Total Borrowed Books',
            'Total Available Books'
        ],
                                        
        datasets: [{
            label: 'Booklist',
            data: [Number("{{.LibraryData.NumberofCopies}}"), Number("{{.LibraryData.NumberofCopiesBorrowed}}"), Number("{{.LibraryData.NumberofCopiesAvailable}}")],
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
        }]
        };
        new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                cutout: '50%',
            }
        });
        var books = [];
        {{range.LibraryData.Books}}
            books.push("{{.}}")
        {{end}}
    </script>
    <script src="/js/admin_dashboard.js"></script>
</body>
</html>