<!DOCTYPE html>
<html>
  <head>
    <title>Client Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/client_dashboard.css" />
  </head>
  <body>
    <div id="stars"></div>
    <div class="container">
      <div class="separator">
        <h1>Client Dashboard</h1>
        <form class="d-flex" role="search" id="searchbar">
          <div class="autocomplete" style="width: 300px">
            <input
              id="myInput"
              type="text"
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              autocomplete="off"
            />
          </div>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <div class="row">
        <div class="col-md-6">
          <br />
          <h2>Transaction History</h2>
          <div id="transactions">
            {{range .Transactions}}
            <a href="/client/viewbook?search={{.Title}}">
              <div
                class="card"
                style="background-color: #333; color: #fff; margin-bottom: 10px"
              >
                <div class="card-body">
                  <h5 class="card-title" style="color: #03ff0f">{{.Title}}</h5>
                  <p class="card-text" style="color: #2fe0ff">
                    Author: {{.Author}}
                  </p>
                  {{ if eq .CheckOutAccepted "{true true}"}}
                  <p class="card-text" style="color: #a218ff">
                    Borrowed on: {{.DateBorrowed}}
                  </p>
                  {{else}}
                  <p class="card-text" style="color: #ffffff">
                    Check Out Status: Not accepted
                  </p>
                  {{end}} {{if eq .CheckInAccepted "{true true}"}}
                  <p class="card-text" style="color: #a218ff">
                    Returned on: {{.DateReturned}}
                  </p>
                  {{else}}
                  <p class="card-text" style="color: #ffffff">
                    Check In Status: Not accepted
                  </p>
                  {{end}}
                </div>
              </div>
            </a>
            {{end}}
          </div>
        </div>
        <div class="col-md-6">
          <br />
          <h2>Library Statistics</h2>
          <div class="chart">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="separator">
        <div class="container2" style="display: flex; flex-direction: column">
          <h2>Explore</h2>
          <div class="explore">
            {{range .Books}}
            <a href="/client/viewbook?search={{.Title}}" class="card-link">
              <div
                class="card"
                style="background-color: #333; color: #fff; margin-bottom: 10px"
              >
                <div class="card-body">
                  <h5 class="card-title" style="color: #03ff0f">{{.Title}}</h5>
                  <p class="card-text" style="color: #2fe0ff">
                    Author: {{.Author}}
                  </p>
                  <p class="card-text" style="color: #ffffff">
                    Genre: {{.Genre}}
                  </p>
                  <p class="card-text" style="color: #ffffff">
                    Number of Copies: {{.NumberofCopiesAvailable}}
                  </p>
                </div>
              </div>
            </a>
            {{end}}
          </div>
        </div>
      </div>
    </div>
    <div id="buttoncontainer">
      <a class="btn btn-primary logout-button" id="logoutbutton">Logout</a>
      <a class="btn btn-danger" id="adminbutton" onclick="AdminAccess()"
        >Request Admin Access</a
      >
    </div>
    <script>
      const ctx = document.getElementById("myChart");
      const data = {
        labels: [
          "Total Books",
          "Total Borrowed Books",
          "Total Available Books",
        ],

        datasets: [
          {
            label: "Booklist",
            data: [
              Number("{{.LibraryData.NumberofCopies}}"),
              Number("{{.LibraryData.NumberofCopiesBorrowed}}"),
              Number("{{.LibraryData.NumberofCopiesAvailable}}"),
            ],
            backgroundColor: [
              "rgb(255, 99, 132)",
              "rgb(54, 162, 235)",
              "rgb(255, 205, 86)",
            ],
            hoverOffset: 4,
          },
        ],
      };
      new Chart(ctx, {
        type: "doughnut",
        data: data,
        options: {
          responsive: true,
          maintainAspectRatio: false,
          cutout: "50%",
        },
      });
      var books = [];
      {{range.LibraryData.Books}}
          books.push("{{.}}")
      {{end}}
    </script>
    <script src="/js/client_dashboard.js"></script>
  </body>
</html>
